:root{
    /* Primary */
    --color-primary-50: #FFF8E1;
    --color-primary-100: #FFECB3;
    --color-primary-200: #FFE082;
    --color-primary-300: #FFD54F;
    --color-primary-400: #FFCA28;
    --color-primary-500: #FFC107;
    --color-primary-600: #FFB300;
    --color-primary-700: #FFA000;
    --color-primary-800: #FF8F00;
    --color-primary-900: #FF6F00;
    --color-primary-950: #E65100;

     /* Secondary */
    --color-secondary-50: #FDECEC;
    --color-secondary-100: #F8BDBD;
    --color-secondary-200: #F59797;
    --color-secondary-300: #F26E6E;
    --color-secondary-400: #E74C4C;
    --color-secondary-500: #D32F2F;
    --color-secondary-600: #C62828;
    --color-secondary-700: #B71C1C;
    --color-secondary-950: #6F0505;

     /* Tertiary */
    --color-tertiary-50: #EFEBE9;
    --color-tertiary-100: #D7CCC8;
    --color-tertiary-200: #BCAAA4;
    --color-tertiary-300: #A1887F;
    --color-tertiary-400: #8D6E63;
    --color-tertiary-500: #795548;
    --color-tertiary-600: #6D4C41;
    --color-tertiary-700: #5D4037;
    --color-tertiary-800: #4E342E;
    --color-tertiary-900: #3E2723;
    --color-tertiary-950: #2C1815;

    /*Basic color*/
    --color-white: #ffffff;
    --color-black: #000000;
    --color-gray-950: #121212; /* Hexadecimal corregido */
    --color-gray-900: #262626;
    --color-gray-800: #3b3b3b;
    --color-gray-700: #515151;
    --color-gray-600: #676767;
    --color-gray-500: #7d7d7d;
    --color-gray-400: #929292;
    --color-gray-300: #a8a8a8;
    --color-gray-200: #bebebe;
    --color-gray-100: #d4d4d4;
    --color-gray-50: #e9e9e9;

    /* Typography */
    --main-font: Helvetica, Arial, sans-serif;
    --secondary-font: Calibri, Helvetica, Arial;

    /* Font weights crudos  */
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-bold: 700;

    /*Font-size*/
    --fs-xxxxl: 5rem; /*Ultra grande */
    --fs-xxxl: 4rem; /* Súper grande */
    --fs-xxl: 3rem; /* Extra grande */
    --fs-xl: 2.5rem; /* Muy grande */
    --fs-lg: 2rem; /* Grande */
    --fs-md: 1.5rem; /* Mediano */
    --fs-sm: 1.25rem; /* Pequeño */
    --fs-xs: 1rem; /* Base */
    --fs-xxs: 0.875rem; /* Muy pequeño 14px */
    --fs-xxxs: 0.75rem; /* Extra extra peuqeño 12px */
    --fs-xxxxs: 0.5rem; /* Minimo 8px */
}

